* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
body{
  background-color: #222;
  color: white;
}
.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}
.note{
  border-radius: .75rem;
  background-color: #302e2e;
  padding: 1rem 1.5rem;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 form{
display: flex;
gap: 1rem;
padding-top: 1rem;
padding-left: 1rem;
}
input{
  padding: .75rem 1rem;
  border-radius: .75rem;
  border: none;
  outline: none;
}
#submit{
  cursor: pointer;
}
#submit:active{
  scale: 0.95;
}
button{
   padding: .55rem 1rem;
    border-radius: .55rem;
  border: none;
  margin-top: .5rem;
  margin-left: .5rem;
}
button#delete{
  margin-top: .5rem;
  background-color: rgb(214, 46, 46);
}
button#update{
  margin-top: .5rem;
  display: block;
  background-color: rgb(37, 130, 217);
}
#yes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
